/* TYPOGRAPHY, FONT SIZES */

/* 14px, 1.5 line-height, traditional, h1 +2 */
body { font-size:87.5%; line-height:1.5; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2em; }
h1, h2 { padding:1.5em 0; }
h2 { font-size:1.33333em; }
h3 { font-size:1.16667em; padding:1.82143em 0; }

body, a {
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	word-wrap:break-word;
}

h1, h2, h3 {
	font-weight: 200;
}

header > h1:first-child {
	padding-top: 0;
}

h1 + h2,
h1 + .post-info {
	margin-top: -3em;
	margin-bottom: 1em;
}

h3 + .post-info {
	margin-top: -1em;
}

h4 {
	font-weight: 600;
	padding-top: 0.5em;
}

p {
	padding-bottom: 0.5em;
}

ul {
	list-style-type: none;
	padding: 0;
}

@media screen and (prefers-color-scheme: dark) {
	body, a { font-weight: 600;	}
	h1, h2, h3 { font-weight: 400; }
	h4 { font-weight: 800; }
}


/* TYPOGRAPHY, FONT SIZES ON MEDIUM SCREENS */

@media print, screen and (min-width: 780px) {
	
	body {
		word-wrap: normal;
	}
	
	/* 14px, 1.25 line-height, 3:5 stranded, h1 +1 */
	body { font-size:87.5%; line-height:1.5; }
	h1, h2, h3 { margin-top:0; margin-bottom:0; }
	h1 { font-size:2.61538em; padding:1.54398em 0; }
	h2 { font-size:1.61538em; padding:1.5712em 0; }
	h3 { font-size:1.23077em; padding:1.68739em 0; }

	h1, h2, h3 {
		font-weight: 100;
	}
	
	section:nth-of-type(1) > p:first-child {
		padding-top: 0.5em;
	}
	
	section:nth-of-type(1) > h1:first-child, 
	nav + h1 {
		padding: 0.54398em 0;
	}
	
	section:nth-of-type(1) > h2:first-child, 
	section:nth-of-type(1) > h3:first-child {
		padding-top: 0.5em;
	}
}

/* TYPOGRAPHY, FONT SIZES ON LARGE SCREENS */

@media screen and (min-width: 1024px) {	

	/* 14px, 1.5 line-height, 4:7 fibonacci, h1 +1 */
	body { font-size:87.5%; line-height:1.5; }
	h1, h2, h3 { margin-top:0; margin-bottom:0; }
	h1 { font-size:4.27273em; padding:1.53193em 0; }
	h2 { font-size:2.63636em; padding:1.52587em 0; }
	h3 { font-size:1.63636em; padding:1.54169em 0; }	

	h1 + h2,
	h1 + .post-info {
		margin-top: -4em;
	}
	
	section:nth-of-type(1) > h1:first-child {
		padding: 0.53193em 0;
	}
	
	section:nth-of-type(1) > p:first-child {
		padding-top: 1em;
	}
}


/* COLORS */

body, article {
	background-color: white;
}

body, a {
	color:#555;
}

h1, h2, h3 {
	color: black;
}

a:hover {
	background-color: #fff9c0;
	color: #555;
}

.dark, 
.dark a {
	color: black;
}

@media screen {
	h1, h2 {
		text-shadow: 1px 1px 1px #f5f5f5;
	}

	::selection {
		background: #a5fef1;
		color: #444;
	}
	
	::-moz-selection {
		background: #a5fef1;
		color: #444;
	}
}

@media screen and (prefers-color-scheme: dark) {
	body, article {
		background-color: #666;
	}
	
	body, a {
		color:#eee;
	}
	
	h1, h2, h3 {
		color: white;
		text-shadow: 1px 1px 1px #666;
	}
	
	a:hover {
		background-color: #fff9c0;
		color: #555;
	}
	
	.dark, 
	.dark a {
		color: white;
	}
}

@media screen and (min-width: 780px) {
	body { background-color: #eee; }
	article { background-color: white; }
}

@media screen and (min-width: 780px) and (prefers-color-scheme: dark) {
	body { background-color: #ccc; }
	article { background-color: #666; }
}

/* LAYOUT */

article.blogpost {
	max-width: 60em;
}

header.left,
header.right {
	width: 300px;
	margin-bottom: 2em;
}

section, 
footer,
nav {
	max-width: 600px;
}

footer {
	margin-top: 3em;
}


/* LAYOUT (TABLET, MEDIUM SCREEN) */

@media screen and (min-width: 780px) {
	article {
		display: inline-block;
		padding: 20px;
	}
	
	header.left {
		float: left;
	}
	
	header.right {
		float: right;
	}
	
	section.left,
	footer.left,
	nav.left {
		margin-right: 370px;
	}
	
	section.right, 
	footer.right,
	nav.right {
		margin-left: 370px;
	}
}


/* LAYOUT (LARGE SCREEN) */

@media screen and (min-width: 1024px) {
	
	body {
		padding: 40px;
		padding-left: 60px;
		padding-top: 30px;
	}
	
	header .portrait {
		margin-top: -5em;
		margin-bottom: 1em;
	}

	section.left, 
	footer.left,
	nav.left {
		margin-right: 400px;
	}
	
	section.right, 
	footer.right,
	nav.right {
		margin-left: 400px;
	}
}


/* START PAGE, PORTRAIT IMAGE */

header .portrait {
	margin-bottom: 2em;
	position: relative;
}

header .portrait img {
	border: 4px solid white;
	height: 250px;
	width: 250px;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(60, 60, 60, 0.7);
	box-shadow: 1px 2px 2px 0px rgba(60, 60, 60, 0.7);
}

header .portrait .sorry {
	position: absolute;
	text-align: center;
	left: 25px;
	width: 200px;
	top: 120px;
	height: 3em;
	background-color: #ddd;
	background-color: rgba(221, 221, 221, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/* MISC */

b, 
.bold {
	font-weight: 700;
}

blockquote {
	font-style: italic;
	margin: 0;
	padding: 1em 0;
}

.invisible {
	display: none;
}

.figure {
	border: 1px solid gray;
	background-color: white;
	margin: 1em 0;
	padding: 5px;
	position: relative;
}

.figure img {
	max-width: 100%;
	max-height: auto;
}

.bulletList,
article ul {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
.bulletList > li,
article ul > li {
	margin-bottom: 1em;
    margin-left: 1em;
    padding-left: 1em;
	overflow: visible;
	position: relative;
}
.bulletList > li:before,
article ul > li:before {
	content: '\25b0';
	position: absolute;
	left: -1em;
}
.bulletList .bulletlist > li,
.bulletList ul > li,
ul .bulletlist > li,
ul ul > li {
	margin-bottom: 0.5em;
}

emph {
	font-weight: bold;
}

.teaser .more {
	margin-bottom: 0.5em;
	margin-top: -0.5em;
}

*[typeof="ScholarlyArticle"] [property~=name],
*[typeof="ScholarlyArticle"] [property~=headline] {
	font-weight: bold;
}

sup.footnote {
	top: 0;
	font-size: 100%;
}